process {
  resourceLimits = [
    cpus: 6,
    memory: 5.GB,
    time: 24.h
  ]
}

// Null params for fastp
params {
    adapter_fasta = null  // path to adapter fasta file, or null if not used
    discard_trimmed_pass = false
    save_trimmed_fail = false
    save_merged = false
}

// Null params for
